body {
  margin: 0;
  font-family: Arial;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:focus, button:focus {outline: none;}

.Hero {
	min-height: 100vh;
}
.hero-image img {
	max-height: 50vh;
	object-fit: contain;
}


@media only screen and (max-width: 420px) {
	.hero-img img {
		max-height: 30vh !important;
	}
}
